.day-table {
  margin: 8rem 0rem;
}


.day-table__title {
  text-align: center;
  margin-bottom: 1rem;
}


.day-table__total {
  text-align: center;
  margin-bottom: 4rem;
}


.day-table__btn--make,
.day-table__btn--remove {
  margin-bottom: 1rem;
}


.day-table__table {}


.day-table__table--positive-number {
  color: red;
}


.day-table__table--negative-number {
  color: blue;
}